/* Original author of this UI: https://github.com/jsoneclick */

body {
    margin: 0 auto;
    background-color: grey;
    overflow: hidden;
    background-image: url(https://user-images.githubusercontent.com/46972880/59439214-82ab0880-8dfd-11e9-8d58-6c12697a7534.jpg);
    background-repeat: no-repeat;
}

.content {
    height: 80%;
    width: 60%;

    min-height: 500px;
    min-width: 600px;
    background-color: #26303a;
    border-radius: 15px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    animation: anima 1s 1;

}

@keyframes anima {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 0;
    }
}

.text {

    height: 10%;
}

#check {
    height: 60px;
    width: 150px;
    font-size: calc(12px + 0.6vw);
    font-family: Arial, Helvetica, sans-serif;
    outline-style: none;

    border: 5px solid #0ad63d;
    background: none;
    transition: 0.5s;
    color: rgb(0, 143, 104);
    cursor: pointer;

    border-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
}

#check:hover {
    background-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66));
    color: white;
}

#check:active {
    background-image: linear-gradient(45deg, rgb(250, 224, 66), rgb(0, 143, 104));
    color: white;
}

.forms {


}

#url {
    height: 50px;
    width: 40%;
    border: none;
    text-align: center;
    border-bottom: 5px solid #0ad63d;
    padding: 0;
    outline-style: none;
    background: none;
    color: #888e99;
    transition: 0.5s;
    border-image: linear-gradient(to right, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
}

#url:focus {
    width: 90%;
}


#proxy {
    height: 55px;
    width: 40%;
    border: none;
    text-align: center;
    border-bottom: 5px solid #0ad63d;
    padding: 0;
    outline-style: none;
    background: none;
    color: #888e99;
    cursor: pointer;
    transition: 0.5s;
    border-image: linear-gradient(to right, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
}

input::placeholder {
    color: #3b4b5b;
}
.result {
    height: 24%;
    width: 89%;
    padding: 1%;
    position: relative;
    font-family: Arial, serif;
    color: #dcdee2;
    margin: 0 auto;
    border: 1px dashed white;
    border-image: linear-gradient(to right, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
}

label {
    color: #dcdee2;
    font: 22px Georgia;
}



.custom-select {
    width: 40%;
    left: 0;
    right: 0;
    border-bottom: 5px solid #0ad63d;
border-image: linear-gradient(to right, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
    margin: auto;
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; 
}

.select-selected {

  border-bottom: 5px solid #0ad63d;
border-image: linear-gradient(to right, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
}


.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}


.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #888e99;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}


.select-items {
  position: absolute;
  background: rgba(22, 22, 28, 0.6);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}


.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

input[type="search"]::-webkit-search-cancel-button{cursor:pointer; 
    -webkit-appearance:none; width:17px; height:16px; background-image:url(dd.png);transition:0.5s; background-size:100%;}
input[type="search"]::-webkit-search-cancel-button:hover{transform:rotate(180deg);}
input[type="search"]::-webkit-search-cancel-button:active{height:30px; width:30px;}




